.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Landing{
  background: url('./img/Landing.jpg') no-repeat center center fixed ;
  background-size: cover;
  height: 100%;
  overflow:hidden;
}

.Landing-header{
  position: absolute;
  font-size: 46px;
  left: 4%;
  top: 4%;
  color: var(--teal);
  text-decoration: underline;
  letter-spacing: 2;
}

.Landing-header:hover{
  transform: scale(1.08);
  color: var(--teal);
}

.Main-Text{
  top: 32%;
  left:25%;
  line-height: 1;
  color: #065357;
}

.Main-Text h3 strong{
  margin-right: 10px;
  font-size: 38px;
}

.quote-div{
  line-height: 0.6;
}

.quote{
  position: relative;
  width: auto;
  font-size: larger;
}

.p-quote{
  position: relative;
  font-size: 12px;
}

.CTA{
  margin-top: 24px;
  left: 30%;
}

.btn-register,
.btn-login{
  padding:8px 24px;
  margin-left: 16px;
  border: 1px solid var(--light);
  background: var(--gray);
}

.btn-register:hover,
.btn-login:hover{
  transform: scale(1.05);
}

.register-icon,
.login-icon{
  padding-right: 8px;
  font-size: larger;
  color: var(--primary);
}

.btn-register{
  background: transparent;
  border: 1px solid var(--teal);
}

.register-link,
.login-link{
  font-size: 18px;
  font-weight: bold;
}

.register-link,
.register-icon{
  color: var(--teal);
}

.register-link:hover{
  color: var(--teal)
}

.login-link:hover{
  color: var(--light);
}

.login-link,
.login-icon{
  color: var(--light);
}

.Registration,
 .Login{
  background: url('./img/Desktop.png') no-repeat center center fixed ;
  background-size: cover;
  height: 100%;
}

.header{
  font-weight: bolder;
  color: var(--info);
  margin-bottom: 12px;
  text-decoration: underline;
}

.form{
  position: absolute;
  top: 25vh;
  left: 62vw;
}

.input-group{
  margin-bottom: 12px;
  padding: 8px; 
}

.input-group-addon{
  position: relative;
  background: var(--white);
  font-size: 18px;
  padding: 12px; 
  min-width: 40px; 
  border-right: hidden;
}

.form-control{
  padding: 8px;
  background: var(--white);
  font-size: 16px;
  border-left: none;
}

.form-control:focus{
  box-shadow: none;
}

.signup-btn,
.signin-btn{
  color: var(--gray);
  font-size: larger;
  font-weight: bolder;
  margin-right: 14px;
}

.signup-btn:hover,
.signin-btn:hover{
  transform: scale(1.04);
}

.Login-link,
.Register-link{
  font-size: larger;
  font-weight: bolder;
}

.Login-link:hover,
.Register-link:hover{
  font-size:x-large ;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.navbar{
  background-color: var(--gray);
  padding: 16px 16px;
  font-size: larger;
}

.logo-link {
  color: var(--white);
  font-size: 32px;
  font-weight: bolder;
  padding:0px 30px;
}

.logo-link:hover{
  color: var(--teal);
}

.link{
  color: var(--white);
  font-size: 24px;
  font-weight: bolder;
  padding:0px 30px;
}

.link:hover {
  color: var(--teal);
}

.btn-search{
  padding:4px 24px;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--secondary);
}

.fa-search{
  padding-right: 14px;
}

.call-to-action{
  font-size: larger;
  margin: 10%;
}

.messages:hover{
 transform: scale(1.05);
}

.link-message:hover{
  color: var(--light);
}

